<!DOCTYPE html>
<html>
  <head>
    <title>Wolfiak</title>
    <meta name="description" content="Découvre le réel pseudo d’un joueur Wolfy en anonyme grâce à son UUID">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thewolfiak.herokuapp.com/">
    <meta property="og:title" content="Wolfiak">
    <meta property="og:description" content="Découvre le réel pseudo d’un joueur Wolfy en anonyme grâce à son UUID">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <main class="bg-slate-900 flex items-center justify-center h-screen">
      <%= yield %>
    </main>
  </body>
</html>
